#include "charybdis.dtsi"
#include "split_input_common.dtsi"
/ {
    chosen {
        zmk,kscan = &mock_kscan;
    };

    mock_kscan: kscan_1 {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };
};

/ {
    chosen {
        zmk,matrix_transform = &default_transform;
        zephyr,display = &oled;
    };
};

&trackball_listener {
    status = "okay";
};

&pinctrl {
    i2c0_default: i2c0_default {
        group1 {
            psels = <NRF_PSEL(I2C_SDA, 0, 17)>,  // D2 (P0.17) nice!nano
                    <NRF_PSEL(I2C_SCL, 0, 20)>;  // D3 (P0.20) nice!nano
            bias-pull-up;
        };
    };

    i2c0_sleep: i2c0_sleep {
        group1 {
            psels = <NRF_PSEL(I2C_SDA, 0, 17)>,
                    <NRF_PSEL(I2C_SCL, 0, 20)>;
            low-power-enable;
        };
    };
};

&i2c0 {
    compatible = "nordic,nrf-twim";
    status = "okay";
    pinctrl-0 = <&i2c0_default>;
    pinctrl-1 = <&i2c0_sleep>;
    pinctrl-names = "default", "sleep";
    clock-frequency = <I2C_BITRATE_FAST>; // 400kHz

    oled: ssd1306@3c {
        compatible = "sinowealth,sh1106";  // 1.3"
        reg = <0x3c>;
        width = <128>;
        height = <64>;
        segment-offset = <2>;              //  SH1106
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <63>;
        segment-remap;
        com-invdir;
        inversion-on;
        prechargep = <0x22>;
    };
};
